sudo: false
language: android
jdk: oraclejdk8

env:
  matrix:
    - ANDROID_TARGET=android-24

android:
  components:
    - platform-tools
    - tools
    - android-24
    - build-tools-24.0.1
    - extra-android-support
    - extra-android-m2repository

before_install:
  - echo yes | android update sdk --filter build-tools-24.0.1,android-24,extra-android-m2repository --no-ui --force > /dev/null

licenses:
  - 'android-sdk-license-.+'

script:
  - ./gradlew check

after_success:
  - bash <(curl -s https://codecov.io/bash)
