<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.google.android.libraries.remixer">
  <!--
  The uses-sdk element is unnecessary while building with Gradle but necessary if using Bazel.
  Furthermore it is necessary when using Robolectric.
  -->
  <uses-sdk
    android:minSdkVersion="15"
    android:targetSdkVersion="24"
    tools:ignore="GradleOverrides"/>
  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true"/>
</manifest>
